footer {
  display: flex;
  flex-direction: column;
  background-color: #ffffff; 
  color: #858585;
  padding: 20px;
  line-height: 1.5;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.col {
  flex: 1;
  min-width: 200px; 
  margin: 10px;
}

.logo {
  margin-bottom: 20px;
}

h4 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #000000; 
}

p {
  font-size: 14px;
  margin-bottom: 8px;
}

a {
  font-size: 14px;
  text-decoration: none;
  color: #0f0100;
  margin-bottom: 6px;
}

a:hover {
  color: #980808; 
}

.follow {
  margin-top: 15px;
}

.wrapper {
  display: flex;
  list-style: none;
  padding: 0;
  color:gray;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin-right: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.wrapper .icon:hover {
  transform: scale(1.1);
}

.install .row img {
  margin: 10px;
  border-radius: 5px;
  max-height: 100vh;  /* Ensure the image doesn't overflow the height of the viewport */
  object-fit: contain;
}

.copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
}


@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      align-items: center;
  }
}