#s-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
}
#s-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(/Public/img/banner1.jpg);
    min-width:620px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#s-banner .banner-box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(/Public/img/banner2.jpg);
    min-width:620px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#s-banner h4{
    color: white;
    font-size: 20px;
    font-weight: 300;
}
#s-banner h2{
    color: white;
    font-size: 28px;
    font-weight: 800;
}
#s-banner span{
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 15px;
}
button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color:rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border:  1px solid rgb(178, 178, 178);
    outline:none;
    transition: 0.2s;
}
#s-banner .banner-box:hover button {
background-color: rgb(216, 216, 216);
border: 1px solid rgb(164, 164, 164);
}
