<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="Cart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css frontpage/default.css">
    <link rel="stylesheet" href="css frontpage/header.css">
    <link rel="stylesheet" href="css frontpage/featured.css">
    <link rel="stylesheet" href="css frontpage/banner.css">
    <link rel="stylesheet" href="css frontpage/testimonalbrands.css">
    <link rel="stylesheet" href="css frontpage/footer.css">
    <link rel="stylesheet" href="css frontpage/s-banner.css">
    <link rel="stylesheet" href="css frontpage/homepage.css">
    <link rel="stylesheet" href="css frontpage/cards.css">
    <link rel="stylesheet" href="css frontpage/newletter.css">
</head>
<body>


    <main class="cart-container">
        <h1>Your Shopping Cart!</h1>
        <div id="cart-items">
            <!-- Product items will load here via JavaScript -->
        </div>
        <div class="cart-summary">
            <p>Total Amount: <span id="total-price">$0.00</span></p>
            <button id="checkout-button">Checkout</button>
        </div>
    </main>

  
    
    
    <script src="/Cart.js"></script>
<script src="/checkout.js"></script>

</body>
</html>