<!-- views/home.ejs -->

<!-- Main Content Starts Here -->

<section id="secoundpart">
    <h4 id="intro-heading">Welcome to Our Store!</h4>
    <h2 id="intro-subheading">Your One-Stop <br>Shop for Great Deals</h2>
    <p id="intro-text">Explore our wide selection of products and enjoy special offers.</p>
    <button onclick="location.href='http://localhost:3030/product-catalog'">shop here</button>

</section>

<br>
<div class="blurry-line"></div>
<br><br>

<section id="banner1" class="section1"> 
    <div class="card-group">
        <div class="card">
            <img src="/img/card1.jpg" alt="Card 1">
            <div class="layer"></div>
            <div class="info">
                <h1>Check Out Our Latest Arrivals!</h1>
                <p>Limited stock available</p>
                <a href="http://localhost:3030/product-catalog">
                    <button> Shop Now</button>
                  </a>
            </div>
        </div>
        <div class="card">
            <img src="/img/card2.jpg" alt="Card 2">
            <div class="layer"></div>
            <div class="info">
                <h1>Explore Our Featured Styles!</h1>
                <p>Trendiest picks of the season</p>
                <a href="http://localhost:3030/product-catalog">
                    <button> Shop Now</button>
                  </a>
            </div>
        </div>
        <div class="card">
            <img src="/img/card3.jpg" alt="Card 3">
            <div class="layer"></div>
            <div class="info">
                <h1>Don’t Miss Out on Our Limited Editions!</h1>
                <p>Get yours before it’s too late</p>
                <a href="http://localhost:3030/product-catalog">
                    <button> Shop Now</button>
                  </a>
            </div>
        </div>
    </div>
</section>


<br><br>
<div class="blurry-line"></div>
<br>

<section id="s-banner" class="section-p1">
    <div class="banner-box">
        <h4>Unbeatable Offers</h4>
<h2>Shop Now & Unlock Secret Discounts!</h2>
<span>Exclusive deals on top-rated products. Limited time only!</span>
<a href="http://localhost:3030/product-catalog">
    <button class="white">Learn More</button>
  </a>
    </div>
    <div class="banner-box banner-box2">
        <h4>Your Dream Sale Awaits!</h4>
        <h2>Big Savings on Must-Have Items</h2>
        <span>Shop the hottest trends and save more than ever before. Don't miss out!</span>
        <a href="http://localhost:3030/product-catalog">
            <button class="white">Learn More</button>
          </a>
       
    </div>
</section>
<br>
<div class="blurry-line"></div>
<br><br>
<section id="newletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Don't Forget To Log In</h4>
        <p>Log in now to explore the Jordan Shoes app! Discover the latest styles, exclusive offers, and connect with fellow sneaker lovers. Elevate your game!</p>
        <div class="From">
            <button onclick="location.href='/login'">Log In Here</button>


        </div>
    </div>
</section>
<br>
<div class="blurry-line"></div>
<br><br>
<!-- Testimonial Section -->
<section>
    <div class="testimonal">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>Jordan shoes are more than just sneakers; they embody athletic excellence and have become a cultural icon. They empower everyone to chase their dreams, blending performance and style like no other!</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>  
                        <i class="fa fa-star"></i>  
                        <i class="fa fa-star"></i> 
                        <i class="fa fa-star-o"></i> 
                    </div>
                    <img src="/img/user-1.jfif" alt="User 1">
                    <h3>Dwayne Johnson</h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>Jordan shoes are a symbol of hard work and dedication. They represent my journey on and off the court, inspiring others to reach for greatness and express themselves through style and performance.</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>  
                        <i class="fa fa-star"></i>  
                        <i class="fa fa-star"></i> 
                        <i class="fa fa-star"></i> 
                    </div>
                    <img src="/img/user-2.jfif" alt="User 2">
                    <h3>Michael B. Jordan</h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>The best shoes ever! They embody a unique blend of style and attitude. They don’t just elevate your look; they represent a bold confidence that inspires you to stand out and be unapologetically yourself.</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>  
                        <i class="fa fa-star"></i>  
                        <i class="fa fa-star"></i> 
                        <i class="fa fa-star-o"></i> 
                    </div>
                    <img src="/img/user-3.jfif" alt="User 3">
                    <h3>Megan Fox</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<br><br>

<!-- Brands Section -->
<section>
    <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <img src="/img/logo-godrej.png" alt="Godrej">
                </div>
                <div class="col-5">
                    <img src="/img/logo-oppo.png" alt="Oppo">
                </div>
                <div class="col-5">
                    <img src="/img/logo-coca-cola.png" alt="Coca-Cola">
                </div>
                <div class="col-5">
                    <img src="/img/logo-paypal.png" alt="PayPal">
                </div>
                <div class="col-5">
                    <img src="/img/logo-philips.png" alt="Philips">
                </div>
            </div>
        </div>
    </div>
</section>

<br>
<div class="blurry-line"></div>
<br>

<!-- Scripts Specific to Home Page (if any) -->
<script src="/js_frontpage/homepage.js"></script>
<script>
    // Any additional inline scripts specific to the home page can go here
</script>

<!-- Note: Header and Footer are included via layout.ejs -->

<!-- Main Content Ends Here -->
