<!-- views/login.ejs -->


<h1>Login</h1>
<form action="/api/auth/login" method="POST">
  <div>
    <label for="email">Email:</label>
    <input type="email" name="email" required />
  </div>
  
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" required />
  </div>
  
  <button type="submit">Login</button>
</form>

<!-- Footer might also be included here, leading to duplication -->
<%- include('partials/footer') %>


