/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    background: linear-gradient(135deg, #a71313, #f46f6f);
    color: #333;
}



/* Main Styles */
main {
    padding: 20px;
}

/* Container for Chart and Description */
.container {
    display: flex;               /* Use flexbox to position items side by side */
    justify-content: space-between;  /* Ensures the items inside are spaced evenly */
    align-items: flex-start;     /* Align items at the top */
    width: 50%;                  /* Each container will take up 50% of the parent container */
    padding: 0 10px;             /* Optional: Adjust padding if needed for spacing */
}

.container + .container {
    margin-left: 0;  /* Remove any default margin between containers if needed */
}

/* Chart Container */
.chart-container {
    flex: 1;
    max-width: 50%; /* Limiting the width */
    padding-right: 20px; /* Spacing between chart and description */
}

/* Description Container */
.description-container {
    flex: 1;
    max-width: 50%; /* Limiting the width */
}

/* Description Styles */
.description-container h2 {
    color: #780014; /* Jordan Red */
    margin-bottom: 15px;
}

.description-container ul {
    list-style-type: none; /* Remove bullets */
    padding: 0;
}

.description-container li {
    margin-bottom: 10px; /* Space between list items */
}